.invitar-button {
  background-color: rgba(31, 13, 63, 0.7);
  border: 1px solid rgba(246, 247, 252, 1);
  border-radius: 50px;
  color: white;
  padding: 16px;
  display: none;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 480px) {
  .invitar-button {
    display: block;
    cursor: pointer;
  }
}
