@if( isInviteOpen == true ) { <app-modal-invite-link (close)="isInviteOpen = false" /> }
<header>
  <div class="logo">
    <img src="assets/images/ficha-de-poker.png" alt="ficha de poker" fill />
    @if(!room.id){
    <h5>Crear partida</h5>
    }
  </div>
  @if(room.id){ @if(room.name){
  <h4>{{ room.name.toLocaleUpperCase() }}</h4>
  }
  <div class="admin-info">
    <app-name-avatar [size]="'small'" />
    <button (click)="isInviteOpen = true" class="invitar-button">Invitar jugaddores</button>
  </div>
  }
</header>
