<div class="player-positions">
  @for(user of userList;track user.id ; let idx = $index){ @if(user.rol === 'admin' ){}
  <div class="player-slot" [attr.data-position]="playerPosition[$index]">
    @if(user.modo==='espectador'){
    <app-name-avatar [adminName]="user.name" class="admin-avatar" size="large" />
    }@else {
    <div class="card-placeholder" [ngClass]="{ 'waiting-vote': user.vote === '?' }"></div>
    } @if(user.rol==='admin'){
    <div class="player-name">{{ user.name }} (Admin)</div>
    }@else {
    <div class="player-name">{{ user.name }}</div>
    }
  </div>
  }
  <!-- Posición superior izquierda -->
</div>
