<div class="player-positions">
  @for(user of userList;track user.id ; let idx = $index){
  <div
    [ngClass]="{ cursor: userLogged.rol === 'admin', 'no-cursor': user.rol === 'player' }"
    class="player-slot"
    (click)="giveAdminMenu(user, playerPosition[$index])"
    onkeydown=""
    [attr.data-position]="playerPosition[$index]"
  >
    @if(user.rol==='admin' && user.modo==='espectador'){
    <app-name-avatar class="admin-avatar" type="admin" size="large" [userName]="user.name" />
    }@else {
    <app-card [userId]="user.id" />
    <div class="player-name">{{ user.name.split(' ')[0] }}</div>
    }
  </div>
  }
</div>
@if(newAdminMenu && userLogged.rol==="admin"){
<div class="new-admin">
  <button (click)="giveAdminAccess()" class="new-admin-menu button">
    Make {{ userPicked.name }} the new Admin
  </button>
  <div class="loader"></div>
</div>
}
