.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #330072 0%,
    rgba(31, 13, 63) 100%
  );

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
