.name-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(189, 189, 255, 1);
  color: rgba(51, 0, 114, 1);
  font-weight: 700;
  font-style: poppins, sans-serif;
}

.small {
  width: 36px;
  height: 36px;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}

.large {
  width: 56px;
  height: 56px;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
}
